@use "sass:map";
@use "sass:list";
@use 'variables/variables' as *;
@use 'layout/shared';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-outfit-regular;
    background: var(--bg) !important;
    min-height: 100vh;
    transition: background 0.3s;
}

.landing-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background:
        linear-gradient(rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58)),
        url("../IMAGES/login-bg.png");


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
}

@at-root [data-theme="light"] .landing-page {
    background: none;
}

.header {
    padding: 0 2rem;
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


    [data-theme="light"] & {
        background: #131d29;
    }

    @media #{$mobile_device} {
        padding: 0 1rem;
        height: 56px;
    }

    &-left {
        display: flex;
        align-items: center;
        gap: 1rem;

        @media #{$mobile_device} {
            gap: 0.5rem;
        }
    }

    &-right {
        display: flex;
        align-items: center;
        gap: 1rem;

        @media #{$mobile_device} {
            gap: 0.5rem;
        }
    }

    &-divider {
        width: 1.2px;
        height: 36px;
        background: var(--secondary-green-light);

        @media #{$mobile_device} {
            display: none;
        }
    }

    &-title {
        display: flex;
        flex-direction: column;
        gap: 1px;

        @media #{$mobile_device} {
            display: none;
        }

        .main-title {
            font-family: $font-outfit-extrabold;
            display: block;
            color: #fff;
            letter-spacing: 1px;
            text-transform: uppercase;

            @media #{$tablet_device} {
                font-size: 13px;
            }
        }


    }
}


.logo {
    display: flex;
    justify-content: center;

    img {
        width: 150px;
        max-width: 100%;
        object-fit: contain;

        @media #{$tablet_device} {
            width: 120px;
        }

        @media #{$mobile_device} {
            width: 100px;
        }
    }
}


.profile-block {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-primary);
    font-size: 13px;

    @media #{$mobile_device} {
        gap: 4px;
        font-size: 12px;
    }
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--secondary-green-light);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-green-light);
    font-size: 16px;
}

.user {
    color: #fff;

    @media #{$mobile_device} {
        display: none;
    }
}

.mode-toggle {
    cursor: pointer;

    input {
        display: none;
    }

    .toggle-track {
        display: block;
        width: 44px;
        height: 24px;
        border-radius: 12px;
        border: 1px solid var(--secondary-green-light);
        position: relative;
        transition: background 0.3s;
    }

    .toggle-thumb {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: var(--secondary-green-light);
        top: 2px;
        left: 2px;
        transition: transform 0.3s;
    }

    input:checked~.toggle-track .toggle-thumb {
        
        transform: translateX(20px);
        background: $yellow
    }
}

.logout-btn {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid var(--divider);
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-green-light);
    cursor: pointer;
    font-size: 16px;
    transition: color 0.2s, border-color 0.2s;

    i::before {
        font-size: 20px;
    }
}


.cards-container {
    padding: 20pxpx;
    width: 100%;
    max-width: 1000px;

    @media #{$tablet_device} {
        padding: 10px 16px;
        max-width: 100%;
    }

    @media #{$mobile_device} {
        padding: 10px 12px;
        max-width: 100%;
    }
}

.cards-row {
    display: grid;
    gap: 1.25rem;
    margin-bottom: 1.25rem;

    &--top {
        grid-template-columns: repeat(3, 1fr);

        @media #{$tablet_device} {
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$large_mobile} {
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$mobile_device} {
            grid-template-columns: 1fr;
        }
    }

    &--bottom {
        grid-template-columns: repeat(2, 1fr);
        max-width: calc(66.66% + 0.42rem);

        @media #{$tablet_device} {
            grid-template-columns: repeat(2, 1fr);
            max-width: 100%;
        }

        @media #{$large_mobile} {
            grid-template-columns: repeat(2, 1fr);
            max-width: 100%;
        }

        @media #{$mobile_device} {
            grid-template-columns: 1fr;
            max-width: 100%;
        }
    }
}


.app-card {
    border: 1px solid var(--secondary-green-light);
    border-radius: 14px;
    overflow: hidden;
    cursor: pointer;
    transition: border-color 0.5s, transform 0.5s;

    &:hover {
        border-color: var(--secondary-green-light);
        transform: translateY(-2px);

        .card-arrow {
            background: var(--secondary-green-light);
            color: #000;
            border-color: var(--secondary-green-light);
        }
    }
}


.card-image {
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}


.card-footer {
    padding: 5px 14px !important;
    display: flex;
    // align-items: flex-end;
    justify-content: space-between;
    align-items: anchor-center;
    background: rgba(21, 90, 82, 0.5) !important;
    border-top: 1px solid var(--secondary-green-light);

    @media #{$mobile_device} {
        padding: 10px 12px !important;
    }
}

@at-root [data-theme="light"] .card-footer {
    background: rgba(21, 90, 82, 1.0) !important;
}


.card-info {
    .card-name {
        font-family: var(--outfit-regular);
        font-size: 13px;
        color: #fff;
        margin-bottom: 2px;

        @media #{$mobile_device} {
            font-size: 11px;
        }
    }

    .card-abbr {
        font-size: 16px;
        font-weight: 700;
        color: var(--secondary-green-light);
        margin: 0;

        @media #{$mobile_device} {
            font-size: 14px;
        }
    }
}


.card-arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--card-border);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    transition: background 0.2s, border-color 0.2s, color 0.2s;
}