/* =========================
   OUTFIT (TTF)
   ========================= */
@font-face {
  font-family: "Outfit-Black";
  src: url("../../FONTS/OutfitBlack.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Outfit-Bold";
  src: url("../../FONTS/OutfitBold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Outfit-ExtraBold";
  src: url("../../FONTS/OutfitExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Outfit-ExtraLight";
  src: url("../../FONTS/OutfitExtraLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Outfit-Medium";
  src: url("../../FONTS/OutfitMedium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Outfit";
  src: url("../../FONTS/OutfitRegular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Outfit-SemiBold";
  src: url("../../FONTS/OutfitSemiBold.ttf") format("truetype");
  font-weight: 600;
}
/* ============================
   SYNE FONT (WOFF)
   ============================ */
@font-face {
  font-family: "Syne";
  src: url("../../FONTS/Syne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Syne-Bold";
  src: url("../../FONTS/Syne-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Syne-Extra";
  src: url("../../FONTS/Syne-Extra.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Syne-Italic";
  src: url("../../FONTS/Syne-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Syne-Mono";
  src: url("../../FONTS/Syne-Mono.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.btn-tp {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-tp:focus, .btn-tp:focus-visible {
  outline: 0;
}
.btn-tp:disabled, .btn-tp.disabled {
  opacity: 0.65;
  pointer-events: none;
}

.btn-tp-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}

.btn-tp-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}

.btn-tp-primary {
  color: #FFFFFF;
  background-color: #10635A;
  border-color: #10635A;
}
.btn-tp-primary:hover {
  color: #FFFFFF;
  background-color: rgb(10.6782608696, 66.0717391304, 60.0652173913);
  border-color: rgb(8.9043478261, 55.0956521739, 50.0869565217);
}
.btn-tp-primary:focus, .btn-tp-primary:focus-visible {
  color: #FFFFFF;
  background-color: rgb(10.6782608696, 66.0717391304, 60.0652173913);
  border-color: rgb(8.9043478261, 55.0956521739, 50.0869565217);
  box-shadow: 0 0 0 0.2rem rgba(16, 99, 90, 0.5);
}
.btn-tp-primary:active, .btn-tp-primary.active {
  color: #FFFFFF;
  background-color: rgb(8.9043478261, 55.0956521739, 50.0869565217);
  border-color: rgb(7.1304347826, 44.1195652174, 40.1086956522);
}

.btn-tp-outline-primary {
  color: #10635A;
  background-color: transparent;
  border-color: #10635A;
}
.btn-tp-outline-primary:hover {
  color: #FFFFFF;
  background-color: #10635A;
  border-color: #10635A;
}
.btn-tp-outline-primary:focus, .btn-tp-outline-primary:focus-visible {
  color: #FFFFFF;
  background-color: #10635A;
  border-color: #10635A;
  box-shadow: 0 0 0 0.2rem rgba(16, 99, 90, 0.5);
}
.btn-tp-outline-primary:active, .btn-tp-outline-primary.active {
  color: #FFFFFF;
  background-color: rgb(12.452173913, 77.047826087, 70.0434782609);
  border-color: rgb(12.452173913, 77.047826087, 70.0434782609);
}

.btn-tp-secondary {
  color: #FFFFFF;
  background-color: #92AD7D;
  border-color: #92AD7D;
}
.btn-tp-secondary:hover {
  color: #FFFFFF;
  background-color: rgb(126.3337264151, 158.2051886792, 101.5448113208);
  border-color: rgb(120.0047169811, 151.4622641509, 95.5377358491);
}
.btn-tp-secondary:focus, .btn-tp-secondary:focus-visible {
  color: #FFFFFF;
  background-color: rgb(126.3337264151, 158.2051886792, 101.5448113208);
  border-color: rgb(120.0047169811, 151.4622641509, 95.5377358491);
  box-shadow: 0 0 0 0.2rem rgba(146, 173, 125, 0.5);
}
.btn-tp-secondary:active, .btn-tp-secondary.active {
  color: #FFFFFF;
  background-color: rgb(120.0047169811, 151.4622641509, 95.5377358491);
  border-color: rgb(113.8101415094, 143.6438679245, 90.6061320755);
}

.btn-tp-outline-secondary {
  color: #92AD7D;
  background-color: transparent;
  border-color: #92AD7D;
}
.btn-tp-outline-secondary:hover {
  color: #FFFFFF;
  background-color: #92AD7D;
  border-color: #92AD7D;
}
.btn-tp-outline-secondary:focus, .btn-tp-outline-secondary:focus-visible {
  color: #FFFFFF;
  background-color: #92AD7D;
  border-color: #92AD7D;
  box-shadow: 0 0 0 0.2rem rgba(146, 173, 125, 0.5);
}
.btn-tp-outline-secondary:active, .btn-tp-outline-secondary.active {
  color: #FFFFFF;
  background-color: rgb(132.8891509434, 163.1367924528, 109.3632075472);
  border-color: rgb(132.8891509434, 163.1367924528, 109.3632075472);
}

.btn-tp-warning {
  color: #FFFFFF;
  background-color: #D78202;
  border-color: #D78202;
}
.btn-tp-warning:hover {
  color: #FFFFFF;
  background-color: rgb(177.1025345622, 107.0852534562, 1.6474654378);
  border-color: rgb(164.4700460829, 99.4470046083, 1.5299539171);
}
.btn-tp-warning:focus, .btn-tp-warning:focus-visible {
  color: #FFFFFF;
  background-color: rgb(177.1025345622, 107.0852534562, 1.6474654378);
  border-color: rgb(164.4700460829, 99.4470046083, 1.5299539171);
  box-shadow: 0 0 0 0.2rem rgba(215, 130, 2, 0.5);
}
.btn-tp-warning:active, .btn-tp-warning.active {
  color: #FFFFFF;
  background-color: rgb(164.4700460829, 99.4470046083, 1.5299539171);
  border-color: rgb(151.8375576037, 91.8087557604, 1.4124423963);
}

.btn-tp-outline-warning {
  color: #D78202;
  background-color: transparent;
  border-color: #D78202;
}
.btn-tp-outline-warning:hover {
  color: #FFFFFF;
  background-color: #D78202;
  border-color: #D78202;
}
.btn-tp-outline-warning:focus, .btn-tp-outline-warning:focus-visible {
  color: #FFFFFF;
  background-color: #D78202;
  border-color: #D78202;
  box-shadow: 0 0 0 0.2rem rgba(215, 130, 2, 0.5);
}
.btn-tp-outline-warning:active, .btn-tp-outline-warning.active {
  color: #FFFFFF;
  background-color: rgb(189.7350230415, 114.7235023041, 1.7649769585);
  border-color: rgb(189.7350230415, 114.7235023041, 1.7649769585);
}

.btn-tp-danger {
  color: #FFFFFF;
  background-color: #D31F1F;
  border-color: #D31F1F;
}
.btn-tp-danger:hover {
  color: #FFFFFF;
  background-color: rgb(177.6497933884, 26.1002066116, 26.1002066116);
  border-color: rgb(166.5330578512, 24.4669421488, 24.4669421488);
}
.btn-tp-danger:focus, .btn-tp-danger:focus-visible {
  color: #FFFFFF;
  background-color: rgb(177.6497933884, 26.1002066116, 26.1002066116);
  border-color: rgb(166.5330578512, 24.4669421488, 24.4669421488);
  box-shadow: 0 0 0 0.2rem rgba(211, 31, 31, 0.5);
}
.btn-tp-danger:active, .btn-tp-danger.active {
  color: #FFFFFF;
  background-color: rgb(166.5330578512, 24.4669421488, 24.4669421488);
  border-color: rgb(155.416322314, 22.833677686, 22.833677686);
}

.btn-tp-outline-danger {
  color: #D31F1F;
  background-color: transparent;
  border-color: #D31F1F;
}
.btn-tp-outline-danger:hover {
  color: #FFFFFF;
  background-color: #D31F1F;
  border-color: #D31F1F;
}
.btn-tp-outline-danger:focus, .btn-tp-outline-danger:focus-visible {
  color: #FFFFFF;
  background-color: #D31F1F;
  border-color: #D31F1F;
  box-shadow: 0 0 0 0.2rem rgba(211, 31, 31, 0.5);
}
.btn-tp-outline-danger:active, .btn-tp-outline-danger.active {
  color: #FFFFFF;
  background-color: rgb(188.7665289256, 27.7334710744, 27.7334710744);
  border-color: rgb(188.7665289256, 27.7334710744, 27.7334710744);
}

.btn-tp-default {
  color: #011210;
  background-color: #03FFAB;
  border-color: #03FFAB;
}
.btn-tp-default:hover {
  color: #011210;
  background-color: rgb(0, 219.75, 146.5);
  border-color: #00cf8a;
}
.btn-tp-default:focus, .btn-tp-default:focus-visible {
  color: #011210;
  background-color: rgb(0, 219.75, 146.5);
  border-color: #00cf8a;
  box-shadow: 0 0 0 0.2rem rgba(3, 255, 171, 0.5);
}
.btn-tp-default:active, .btn-tp-default.active {
  color: #011210;
  background-color: #00cf8a;
  border-color: rgb(0, 194.25, 129.5);
}

.btn-tp-outline-default {
  color: #03FFAB;
  background-color: transparent;
  border-color: #03FFAB;
}
.btn-tp-outline-default:hover {
  color: #011210;
  background-color: #03FFAB;
  border-color: #03FFAB;
}
.btn-tp-outline-default:focus, .btn-tp-outline-default:focus-visible {
  color: #011210;
  background-color: #03FFAB;
  border-color: #03FFAB;
  box-shadow: 0 0 0 0.2rem rgba(3, 255, 171, 0.5);
}
.btn-tp-outline-default:active, .btn-tp-outline-default.active {
  color: #011210;
  background-color: rgb(0, 232.5, 155);
  border-color: rgb(0, 232.5, 155);
}

/*------------------- Border radius --------------------------*/
/*------------------- Responsive --------------------------*//*# sourceMappingURL=variables.css.map */